<%- Task::WEIGHTED_PRIORITY.each do |weight, priority| %>
  <label class="col">
    <%= radio_button_tag "task[priorities][#{priority}]", '', true, class: 'default' %>
    Not <%= priority.capitalize %>
  </label>
  <label class="col">
    <%= radio_button_tag "task[priorities][#{priority}]", weight %>
    <%= priority.capitalize %>
  </label>
<% end %>
