<div class='nav bg-light align-items-center'>
  <h2 class='p-3 flex-grow-1'>Backlog</h2>
  <div class='pr-3'>Hi, <%= current_user.username %></div>
  <%= link_to  "Logout", logout_path, remote: true, method: :delete, class: 'mr-4 btn btn-light border' %>
</div>